# emacs stuff
*~
\#*\#
auto-save-list
.\#*

# binaries
/cmd/gopikchr/gopikchr
c/pikchr
/gopikchr

# artifacts of generating
c/pikchr.out
c/pikchr.c
c/pikchr.h
internal/pikchr.out

# testing
output/
still-broken
